/* font-family: "IBM Plex Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* global style starts */
:root {
    --primary: #47cfed;
    --secondary: #8D4CA8;
    --background: #272325;
    --backgroundSecondary: #303435;
    --text: #fff6e6;
}

body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
    background-color: var(--backgroundSecondary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

img {
    width: 80%;
    cursor: pointer;
}

/* global style ends */

/* nav section style starts */
.nav {
    background-color: #272325;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    .other-surveys {
        display: flex;
        width: 80%;

        span {
            align-content: center;
            width: 200px;
        }

        .survey-list {
            padding: 0 12px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                color: var(--primary);
                font-weight: 500;
                margin: 4px 12px;
                cursor: pointer;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1024px) {
    .nav .other-surveys {
        width: 90%;
    }
}

/* nav section style ends */

.container {
    max-width: 80%;
    text-align: center;

    .heading {
        width: 100%;
        padding: 1rem 0 2rem;
        margin: 1rem 0;

        h1 {
            font-size: 48px;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            opacity: 0.7;
        }
    }

    .survey-card {
        margin: 1rem 0;

        .survey-banner {
            background-color: var(--background);
            border-radius: 4px;

            .survey-tags {
                display: flex;
                justify-content: space-between;

                p {
                    margin: 0;
                    padding: 8px 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    background-color: var(--secondary);
                }

                .year {
                    background-color: var(--primary);
                    color: var(--background);
                }
            }
        }

        .survey-action {
            display: flex;
            width: 100%;
            margin: .5rem 0;

            button {
                background-color: transparent;
                padding: 1rem 2rem;
                outline: none;
                border: 1px dashed var(--primary);
                font-family: "IMB Plex Mono", monospace;
                font-size: 16px;
                font-weight: 600;
                color: var(--text);
                width: 50%;
                cursor: pointer;
            }

            button:hover {
                border: 1px solid var(--primary);
            }
        }
    }

    .content {
        padding: 1rem 0;
    }

    .email-form {
        background-color: var(--background);
        padding: 1rem .6rem;

        form {
            width: 100%;
            display: flex;

            input {
                font-family: "IBM Plex Mono", monospace;
                width: 70%;
                font-size: 16px;
                font-weight: 500;
                padding: 2px 12px;
                outline: none;
                border: none;
            }

            button {
                background-color: transparent;
                padding: 1rem 1.2rem;
                outline: none;
                border: 1px dashed var(--primary);
                font-family: "IMB Plex Mono", monospace;
                font-size: 16px;
                font-weight: 600;
                color: var(--text);
                width: 30%;
                margin-left: 6px;
                cursor: pointer;
            }

            button:hover {
                border: 1px solid var(--primary);
            }
        }
    }

    .past-survey {
        /* display: flex; */

        h2 {
            text-align: left;
        }

        .past-survey-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.4rem;

            .survey-card {
                margin: 0;

                .survey-tags {
                    justify-content: flex-end;
                }
            }
        }

        @media (max-width: 767px) {
            .past-survey-container {
                grid-template-columns: 1fr;
            }
        }
    }

    .footer {

        a {
            color: var(--primary);
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            margin: 8px;
            padding: 0;
            cursor: pointer;
        }
        .lang-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 2.4rem 0;
            padding: 1.6rem 0;
            border-top: 1px dashed var(--text);

            h3 {
                margin: 8px;
            }

            .active{
                background-color: var(--primary);
                color: var(--background);
                border-radius: 4px;
                padding: 4px 8px;
            }
        }

        .footer-note{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.8rem 0;

            p{
                font-weight: 600;
            }
        }
    }
}